body{
    font-family: 'Montserrat-light', sans-serif;
}

#title{
    background-color: #ff4c68;
    color:#fff;
}
.mon{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat";;
}
p{
    font-family: 'ubuntu';
    color: #8f8f8f;
}

.container-fluid{
    padding:3% 15% 7%;
}

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu-dark', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.downlod-btn{
    margin: 5% 3% 5% 0;
}

.title-img{
    margin-left: 5%;
    width: 22%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 0;
}

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

#testimonials{

    /* padding: 7% 15%; */
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
h2{
    font-family: 'Montserrat-light';
    font-size: 3rem;
    line-height: 1.5;
}

.timg{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
}
.pimg{
    width: 15%;
    margin: 20px 20px 50px;
}
/* .cb{
    margin-right: 20px;
} */

.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
    text-align: center;
}
.pcard{
    padding: 2% 3%;
}

#cta{
    color: white;
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
}

.cta-head{
    font-family: 'Montserrat';
    line-height: 1.5;
    font-size: 3rem;
}

#footer{
    text-align: center;
    padding: 7% 15%;

}
.icon-s{
    margin: 20px 10px;
}
@media (max-width:1020px){
    #title{
        text-align: center;
    }
    .title-img{
        width: 60%;
        position: static;
        transform: rotate(0);
    }
}